<div class="row justify-content-center">
  <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-12 text-center">
    <div class="box-column">
      <div class="box-top">
          <i class="bi bi-<%= service.service_type.picto%>" aria-hidden="true"></i><br/>
          <%= service.url%>
      </div>
      <div class="box-bottom">
        <div class="box-text">
          <div class="container">
            <div class="row g-3">

                <div class="col-xl-6 col-lg-12 col-md-12">
                  <div class="input-group mb-3">
                    <span class="input-group-text fix"><%= I18n.t('service_type') %></span>
                    <div class='form-control no-input'><%= service.service_type.name %></div>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text fix">FQDN</span>
                    <div class='form-control no-input'><%= service.url %></div>
                  </div> 

                  <div class="input-group mb-3">
                    <span class="input-group-text fix"><%= I18n.t('port') %></span>
                    <div class='form-control no-input'><%= service.port %> <%= service.ssl ? 'SSL' : '' %></div>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text fix"><%= I18n.t('status') %></span>
                    <div class="form-control no-input form-<%= service.status ? 'ok' : 'ko' %>">
                      <%= I18n.t(service.histories.last&.error_string) %>
                    </div>
                  </div>
                </div>

                <div class="col-xl-6 col-lg-12 col-md-12">
                  <div class="input-group mb-3">
                    <span class="input-group-text fix"><%= I18n.t('version') %></span>
                    <div class='form-control no-input'><%= service.version %></div>
                  </div>

                  <% if service.type?('Duniter') %>
                    <div class="input-group mb-3">
                      <span class="input-group-text fix"><%= I18n.t('last_block') %></span>
                      <div class='form-control no-input'><%= service.last_block %></div>
                    </div>
                  <% end %>

                  <% if service.type?('Cesiumplus') %>
                    <div class="input-group mb-3">
                      <span class="input-group-text fix"><%= I18n.t('nb_documents') %></span>
                      <div class='form-control no-input'><%= service.nb_documents %></div>
                    </div>
                  <% end %>

                  <% unless service.ipv4.empty? %>
                  <div class="input-group mb-3">
                    <span class="input-group-text fix">IPv4</span>
                    <div class='form-control no-input'><%= service.ipv4 %></div>
                  </div>
                  <% end %>

                  <% unless service.ipv6.empty? %>
                  <div class="input-group mb-3">
                    <span class="input-group-text fix">IPv6</span>
                    <div class='form-control no-input'><%= service.ipv6 %></div>
                  </div>
                  <% end %>

                  <div class="input-group mb-3">
                    <span class="input-group-text fix"><%= I18n.t('admin') %></span>
                    <div class='form-control no-input'><%= service.admin %></div>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text fix"><%= I18n.t('server_funding') %></span>
                    <div class='form-control no-input'><%= service.server_funding %></div>
                  </div>

                </div>
            </div>
            <div class="row mt-5">
              <div class="title-header text-center">
                <h4><%= I18n.t('uptime') %> (%)</h4>
              </div>
              <%= pie_chart({ 'up' => service.uptime, 'down' => (100-service.uptime)}, colors: ["#b1f3b1", "#fdafaf"], legend: "bottom") %>
            </div>
            <div class="row mt-5">
              <div class="title-header text-center">
                <h4><%= I18n.t('latency') %> (ms)</h4>
              </div>
              <%= line_chart History.where("service_id=? AND date>?", service.id, Date.today-30).group_by_day(:date).average(:duration) %>
            </div>
            <div class="row mt-5">
              <div class="title-header text-center">
                <h4><%= I18n.t('history') %> (30 derniers tests)</h4>
              </div>
              <div class="table-responsive">
                <table class="table table-striped-columns">
                  <tr>
                    <th><%= I18n.t('date') %></th>
                    <% if service.service_type.name != 'Duniter' and service.service_type.name != 'Cesiumplus' %>
                      <th>Ping?</th>
                    <% end %>
                    <th><%= I18n.t('duration') %> (ms)</th>
                    <% if service.type?('Duniter') %>
                      <th><%= I18n.t('block') %></th>
                    <% end %>
                    <% if service.type?('Cesiumplus') %>
                      <th><%= I18n.t('nb_documents') %></th>
                    <% end %>
                    <th><%= I18n.t('comment') %></th>
                  </tr>
                  <% @histories.each do |history| %>
                    <tr>
                      <td><%= history.date.strftime("%d/%m/%Y %H:%M:%S (UTC)") %></td>
                      <% if service.service_type.name != 'Duniter' and service.service_type.name != 'Cesiumplus' %>
                        <td><i class="bi bi-<%= history.ping ? 'check2' : 'x' %>"></i></td>
                      <% end %>
                      <td><%= history.duration %></td>
                      <% if service.type?('Duniter') %>
                        <td><%= history.block %></td>
                      <% end %>
                      <% if service.type?('Cesiumplus') %>
                        <td><%= history.nb_documents %></td>
                      <% end %>
                      <td><%= I18n.t(history.error_string) %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>



