<%= form_with(model: service_type) do |form| %>
  <% if service_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service_type.errors.count, "error") %> prohibited this service_type from being saved:</h2>

      <ul>
        <% service_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position %>
  </div>

  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_field :message %>
  </div>

  <div>
    <%= form.label :picto, style: "display: block" %>
    <%= form.text_field :picto %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
