<div class="row justify-content-center">
  <div class="col-xxl-6 col-xl-10 col-lg-10 col-md-10 col-12 text-center">
    <div class="box-column">
      <div class="box-top">
          <i class="bi bi-<%= service_type.picto%>" aria-hidden="true"></i><br/>
          <%= service_type.name%>
      </div>
      <div class="box-bottom">
        <div class="box-text">
          <div class="container">
            <div class="row">
              <div class="row g-3">
                <div class="table-responsive">
                  <table class="table table-striped-columns">
                    <tr>
                      <th></th>
                      <th><%= I18n.t('service') %></th>
                      <th><%= I18n.t('version') %></th>
                      <th><%= I18n.t('uptime') %></th>
                      <% if service_type.name == 'Duniter' %>
                        <th><%= I18n.t('block') %></th>
                      <% end %>
                      <% if service_type.name == 'Cesiumplus' %>
                        <th><%= I18n.t('nb_documents') %></th>
                      <% end %>
                      <th><%= I18n.t('status') %></th>
                    </tr>
                    <% service_type.services.each do |service| %>
                      <tr>
                        <td>
                          <%= link_to service, class: "btn btn-#{service.status_classe}" do %>
                            <i class="bi bi-forward-fill"></i>
                          <% end %>
                        </td>
                        <td><%= service.url %></td>
                        <td><%= service.version %></td>
                        <td><%= service.uptime %> %</td>
                        <% if service.type?('Duniter') %>
                          <td><%= service.last_block %></td>
                        <% end %>
                        <% if service.type?('Cesiumplus') %>
                          <td><%= service.nb_documents %></td>
                        <% end %>
                        <td>
                          <%= I18n.t(service.histories.last&.error_string) %>
                          <% if service.status.nil? %>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= link_to new_service_path(service_type_id: service_type.id), class: 'btn btn-primary' do %>
          <i class="bi bi-plus"></i>
          <%= I18n.t('add_instance') %>
        <% end %>
      </div>
    </div>
  </div>
</div>