<h1>Editing service type</h1>

<%= render "form", service_type: @service_type %>

<br>

<div>
  <%= link_to "Show this service type", @service_type %> |
  <%= link_to "Back to service types", service_types_path %>
</div>
