<p style="color: green"><%= notice %></p>

<div class="box">
  <div class="container">
    <div class="row">
      <% @service_types.each do |service_type| %>
        <%= render service_type %>
      <% end %>
    </div>
  </div>
</div>
