<div class="row justify-content-center">
  <div class="col-xxl-6 col-xl-10 col-lg-10 col-md-10 col-12 text-center">
    <div class="box-column">
      <div class="box-top">
        <%= I18n.t "about_title" %>
      </div>
      <div class="box-bottom">
        <div class="box-text">
          <div class="container">
            <div class="row">
              <div class="row g-3">
                <div><%= I18n.t("about_message") %></div></br></br>
                <div class="row justify-content-center">
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <%= I18n.t("version")%>
                      </div>
                      <div class="card-body">
                        <p class="card-text"><%= Version.current %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <%= I18n.t("dev")%>
                      </div>
                      <div class="card-body">
                        <p class="card-text">Jean-Noël Rouchon</p>
                        <p class="card-text">Romain Hoarau</p>
                      </div>
                    </div>
                  </div>
                </div>
                </br></br>
                <div class='btn-group'>
                  <%= link_to 'https://gitlab.com/mithril_informatique/g1_status', class: 'btn btn-secondary' do %>
                    <i class="bi bi-git"></i>
                    <%= I18n.t('source_code') %>
                  <% end %>
                  <%= link_to 'https://www.gnu.org/licenses/agpl-3.0.en.html', class: 'btn btn-secondary' do %>
                    <i class="bi bi-file-earmark-text-fill"></i>
                    <%= I18n.t('licence') %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>