@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

$grey: #555555;
$grey_light: lighten($color: $grey, $amount: 12);
$green: #b1f3b1;
$red: #fdafaf;
$grey_nil: #c7c7c7;

@import 'menu';

body {
    background-color: #eee;
    padding-left: 200px;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

a,
a:hover,
a:focus {
    text-decoration:none;
    color: $grey;
}

.box-column {
    margin-bottom: 2em;
}

.box-top {
    padding: 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: $grey;
    color: white;
    font-size: x-large;
    i {
        font-size: xx-large;
    }
}

.box-bottom {
    background: #FFF;
    padding: 30px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-bottom .box-text {
    padding: 10px 0px; 
}

.bi-check-square-fill {
    color: green;
}

.bi-exclamation-octagon-fill {
    color: red;
}

.instance {
    font-size: small;
    padding-top: 0.1em;
    margin-bottom: 1em;
    height: 5em;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.instance-up {
    background-color: rgb(208, 243, 208);
    border: 1px solid green;
}

.instance-down {
    background-color: rgb(253, 207, 207);
    border: 1px solid red;
}

.btn-primary {
    background-color: $grey;
    border: 0;
}

.btn-primary:hover {
    background-color: black;
    border: 0;
}

.btn-secondary {
    background-color: #eee;
    color: black;
}

.fix {
    width: 200px;
}

.no-input {
    text-align: left;
    padding-left: 15px;;
}

.return {
    position: absolute;
    text-align: left;
    margin-top: -65px;
    margin-left: 20px;
}

.title-header {
    margin-top: 50px;
    border-top: 2px solid $grey;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
}

.title-header h4 {
    background: #fff;
    color: $grey;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    border: 2px solid $grey;
    top: -25px;
    font-size: 1.2em;
}

.btn-ok {
    background-color: $green;
}

.btn-ok:hover {
    background-color: darken($color: $green, $amount: 10);
}

.btn-ko {
    background-color: $red;
}

.btn-ko:hover {
    background-color: darken($color: $red, $amount: 10);
}

.btn-nil {
    background-color: $grey_light;
}

.btn-nil:hover {
    background-color: darken($color: $grey_light, $amount: 10);
}

.box-top {
    margin-top: 15px;
}

.row {
    margin: 0;
}

.card-header {
    background-color: $grey;
    color: white;
}

.form-ok {
    background-color: $green;
}

.form-ko {
    background-color: $red;
}

.alert {
    text-align: center;
    padding: 1rem;
    margin: 0;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
    display: flex;
    justify-content: center;
    margin-bottom: -80px;
    opacity: 0.9;
}

@keyframes seconds {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
}

@media screen and (max-width: 900px) and (min-width: 400px) {
    body {
        padding-left: 90px;
        background-color: white;
    }
    .box-top {
        border-radius: 0;
        height: 70px;
        font-size: 1.1em;
        padding: 5px;
        margin: 0;
        i {
            font-size: 1.1em;
        }
    }
    .row > * {
        padding: 0;
    }
    .fix {
        width: 130px;
    }
}

@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
        background-color: white;
    }
    .box-top {
        border-radius: 0;
        //height: 70px;
        font-size: 1.2em;
        padding: 5px;
        margin: 0;
        i {
            font-size: 1.2em;
        }
    }
    .row > * {
        padding: 0;
    }
    .fix {
        width: 130px;
    }
}