main {
    position: relative;
    height: 100vh;
}
  main .helper {
    background: rgba(0, 0, 0, 0.2);
    color: #ffea92;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1.2em 2em;
    text-align: center;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  main .helper span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.4em;
    display: block;
  }
  .menu {
    background: $grey;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
    color: white;
  }
  .menu .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;
  }
  .menu .avatar img {
    width: 100px;
  }
  .menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
  }
  .menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
  }
  .menu ul li {
    padding: 0.5em;
    font-size: 0.95em;
    font-weight: regular;
    transition: all 0.15s linear;
    cursor: pointer;
  }
  .menu ul li.icon-dashboard {
    background-image: url("http://www.entypo.com/images//gauge.svg");
  }
  .menu ul li.icon-customers {
    background-image: url("http://www.entypo.com/images//briefcase.svg");
  }
  .menu ul li.icon-users {
    background-image: url("http://www.entypo.com/images//users.svg");
  }
  .menu ul li.icon-settings {
    background-image: url("http://www.entypo.com/images//tools.svg");
  }
  .menu ul li:hover {
    transform: translateX(1em);
  }
  .menu ul li:focus {
    outline: none;
  }
  .menu-entry {
    color: white;
    font-size: 1.3em;
  }
  .menu-entry:hover {
    color: white;
  }
  .menu-icon {
    margin-right: 15px;
  }

  @media screen and (max-width: 900px) and (min-width: 400px) {
    .menu {
      width: 90px;
      overflow-y: auto;
    }
    .menu .avatar {
      padding: 0.5em;
      position: relative;
      h2 {
        font-size: 0;
      }
    }
    .menu .avatar img {
      width: 60px;
    }
    .menu ul li {
      height: 60px;
      background-position: center center;
      background-size: 30px auto;
      position: relative;
    }
    .menu ul li:hover{
      transform: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .menu-entry {
      font-size: 2em;
      //padding-left: 20px;
      span {
        font-size: 0;
      }
    }
    .menu-icon {
      //margin-right: 0;
      padding-left: 10px;
    }
  }
  @media screen and (max-width: 400px) {
    .menu {
      width: 230px;
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
      transform: translate3d(-230px, 0, 0);
      transition: all 0.3s ease-in-out;
    }
    .menu .smartphone-menu-trigger {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100%;
      background: darken($color: $grey, $amount: 10)
    }
    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
      content: "";
      width: 50%;
      height: 2px;
      background: #fff;
      border-radius: 10px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    .menu .smartphone-menu-trigger:after {
      top: 55%;
      transform: translate3d(-50%, -50%, 0);
    }
    .menu ul li {
      padding: 1em;
      font-size: 1.2em;
    }
    .menu:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }
    .menu:focus .smartphone-menu-trigger {
      pointer-events: none;
    }
    .menu-entry {
      font-size: 1em;
      span {
        font-size: 1em;
      }
    }
}
  