<!DOCTYPE html>
<html>
  <head>
    <title>Ǧinspecte</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag 'logo' %>
  </head>

  <body>
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <%= image_tag 'logo' %>
        <h2>Ǧinspecte</h2>
      </header>
      <ul>
        <%= link_to "/", class: 'menu-entry' do %>
          <li tabindex="0">
            <i class="bi bi-house-fill menu-icon"></i>
            <span><%= I18n.t 'home' %></span>
          </li>
        <% end %>
        <% ServiceType.order(:position).each do |st| %>
          <%= link_to st, class: 'menu-entry' do %>
            <li tabindex="0"> 
              <i class="bi bi-<%= st.picto %> menu-icon"></i>
              <span><%= st.name %></span>
            </li>
          <% end %>
        <% end %>
        <%= link_to "/about", class: 'menu-entry' do %>
          <li tabindex="0">
            <i class="bi bi-question-circle-fill menu-icon"></i>
            <span><%= I18n.t 'about' %></span>
          </li>
        <% end %>
      </ul>
    </nav>
    
    <% if flash.alert %>
      <div class="alert alert-danger" role="type_alert">
        <p text-align= "center"><i class="bi bi-exclamation-diamond-fill"></i> <%= flash.alert %></p>
      </div>
    <% elsif flash.notice %>
      <div class="alert alert-success" role="type_alert">
        <p text-align= "center"><i class="bi bi-check-lg"></i> <%= flash.notice %></p>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>